<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamRecordMapper">
    
    <resultMap type="ExamRecord" id="ExamRecordResult">
        <result property="id"          column="id"           />
        <result property="userId"      column="user_id"      />
        <result property="paperId"     column="paper_id"     />
        <result property="startTime"   column="start_time"   />
        <result property="endTime"     column="end_time"     />
        <result property="score"       column="score"        />
        <result property="status"      column="status"       />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"  column="create_time"  />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <result property="remark"      column="remark"       />
    </resultMap>

    <sql id="selectExamRecordVo">
        select id, user_id, paper_id, start_time, end_time, score, status, create_by, create_time, update_by, update_time, remark
        from exam_record
    </sql>

    <select id="selectExamRecordList" parameterType="ExamRecord" resultMap="ExamRecordResult">
        <include refid="selectExamRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="paperId != null "> and paper_id = #{paperId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectExamRecordByRecordId" parameterType="Long" resultMap="ExamRecordResult">
        <include refid="selectExamRecordVo"/>
        where id = #{recordId}
    </select>
        
    <insert id="insertExamRecord" parameterType="ExamRecord" useGeneratedKeys="true" keyProperty="id">
        insert into exam_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="paperId != null">paper_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="score != null">score,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="paperId != null">#{paperId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="score != null">#{score},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateExamRecord" parameterType="ExamRecord">
        update exam_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paperId != null">paper_id = #{paperId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="score != null">score = #{score},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExamRecordByRecordId" parameterType="Long">
        delete from exam_record where id = #{recordId}
    </delete>

    <delete id="deleteExamRecordByRecordIds" parameterType="String">
        delete from exam_record where id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>
